
<!--<img src="https://images.wsj.net/im-903961/?width=700&size=1.2561334641805693&pixel_ratio=1.5" alt="home library" width="1000px" height="1000px" object-fit= "cover">-->
<style>
body {
  background-image: url('https://images.wsj.net/im-903961/');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

</style>
<!--<nav style="color: white;">
  <a href="/users">Users</a>
  <a href="/blogs">Blogs</a>
</nav>-->
<div class="blog-name">Welcome to My Book Blog!</div>
<footer style="text-align: center; color: #edece4;"> <small>Copyright &copy; <%= Date.today.year %>, nhatminhdao. All rights reserved.</small> </footer> 
